#store-h1 {
    color: black;
}

h2 {
    text-align: center;
}

#filters {
    float: left;
    clear: right;
}

#search {
    float: right;
}

#top-row {
    padding-top: 50px;
}

.column-store {
  float: left;
  width: 33.33%;
}

.row-store:after {
  content: "";
  display: table;
  clear: both;
}

{
    box-sizing: border-box;
}

.en-column {
    float: left;
}

.big {
    width: 90%;
}

.small {
    width: 10%;
}

.en-row:after {
content: "";
display: table;
clear: both;
}

.item-column {
    float: left;
    width: 33%;
    text-align: center;
}

.item-row:after {
content: "";
display: table;
clear: both;
}
