#title-div {
  /* background: red; */
  background-image: url("../images/lone-bison-new.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
}

h1 {
    font-size: 72px;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 30px;
}

header {
    height: 10%;
}

footer {
    height: 5%;
}

#title-div {
    height: 25vh;
}

.row {
    height: 60vh;
}

.column {
    height: 60vh;
    text-align: center;
}
