.our-denim-img {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#our-denim-image1 {
    width: 80%;
    /* float: right; */
}

#our-denim-image2 {
    width: 500px;
    /* float: left; */
    /* padding-top: 200px */
}

#why-h3 {
    padding-top: 130px;
}

#america-h3 {
    padding-top: 380px;
    padding-left: 50px
}

#why-p {

}

#america-p {
    padding-bottom: 121px;
}

.column-denim {
  float: left;
  width: 50%;
}

.row-denim:after {
  content: "";
  display: table;
  clear: both;
}
